body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555;
    background-color: #f0e7db; /* soft pastel background */
    text-align: center;
    padding-top: 50px;
  }
  
  h1 {
    color: #6a5d7b; /* pastel purple */
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    color: #6a5d7b; /* pastel purple */
    font-size: 24px;
  }
  
  .home-icon {
    font-size: 100px;
    margin: 20px 0;
  }
  
  #funMessage {
    margin: 20px 0;
    color: 6a5d7b; /* pastel green */
  }
  
  #draggableContainer {
    width: 400px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    background-color: #6a5d7b; /* pastel purple background */
    border-radius: 10px;
  }
  
  #draggableBox {
      font-size: 100px; /* Adjust size as needed */
      cursor: move;
      user-select: none; /* Prevents text selection */
  }
  
  /* Add more styles as needed */
  