body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555;
    background-color: #f0e7db; /* soft pastel background */
    text-align: center;
    padding-top: 50px;
  }
  
  h1 {
    color: #6a5d7b; /* pastel purple */
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    color: #6a5d7b; /* pastel purple */
    font-size: 24px;
  }
  
  .home-icon {
    color: #f9c1b1; /* pastel red */
    font-size: 100px;
    margin: 20px 0;
  }
  
  #funMessage {
    margin: 20px 0;
    color: 6a5d7b; /* pastel green */
  }
  
  #draggableContainer {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    background-color: #6a5d7b; /* light blue background */
    border-radius: 10px;

  }
  
  #draggableBox {
    display: flex;        /* Enables flexbox */
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */
    font-size: 50px;         /* Adjust size as needed */
    cursor: move;
    user-select: none;       /* Prevents text selection */
    width: 100px;            /* Set a fixed width */
    height: 100px;           /* Set a fixed height */
    background-color: #f9c1b1; /* Optional: background color */
    border-radius: 5px;      
  }
  
  /* Add more styles as needed */
  